.buttonContainer{
    width: 100%;
}

.button {
  width: 100%;
  height: auto;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #ff7f00;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #e65c00;
}

.buttonText {
    font-weight: bold;
}